<html>
	<head>
		<title>Candidate checker portal</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
	</head>
	<body>
		{{template "nav.tmpl.html"}} 
		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/static/lang-logo.png">
				</a>
				<h1>Hmmmmm. I think there might be a stronger applicant.</h1>
			</div>
		</div>
		<div class="container">
			<div class="alert alert-info text-center" role="alert">
				We hope you are happy with your selection! If not, please search a new name.
			</div>
		</div>
	</body>
</html>