<html>
	<head>
		<title>GRI candidate checker portal</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
	</head>
	<body>
		{{template "nav.tmpl.html"}} 
		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/static/lang-logo.png">
				</a>
				<h1>Excellent choice!</h1>
				<p>Kealan Parr is perfect for the go role at GRI in Knutsford</p>
				<h6>Currently an on-call developer and able to talk to multiple stake holders to explain complex technical problems, such as designers, testers, managers and designers.</h6>
				<h6>A talented and industrious, polyglot programmer</h6>
				<h6>Succesfully delivered over 30 software programs including Swift, TypeScript, golang, C# and JavaScript</h6>
				<h6>Great experience with TDD, CI and   </h6>
				<h6>Has a professional, positive and learning attitude</h6>
				<h6>Has experience working in a fast-paced agile environment</h6>
				<h6>Talented communicator, producing over 20 online technical articles over 4 publications</h6>
				<h6>Can build quality software in a high-volume transactional environment using Go and MySQL</h6>
				<h6>Has experience in producing industry leading software based on a micro-service architecture.</h6>
				<h6>Keen to gain a deep understanding of GRI, to inform the creation of innovative solutions to real-world problems.</h6>
				<h6>Ensuring that engineering standards are met through idiomatic development, unit testing etc.</h6>
			</div>
		</div>
		<div class="container">
			<div class="alert alert-info text-center" role="alert">
				We hope you are happy with your selection!
			</div>
		</div>
	</body>
</html>