<html>
	<head>
		<title>Candidate checker portal</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
	</head>
	<body>
		{{template "nav.tmpl.html"}} 
		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/static/lang-logo.png">
				</a>
				<h1>Welcome to the Candidate checker!</h1>
					<p>Who are you thinking of choosing?</p>
					<label class="candidateSearch" for="name">Candidate full name:</label>
					<input type="text" id="name" name="name" required size="50" style="color: black;">
					<script>
						window.addEventListener('load', function() {
							const node = document.getElementById("name");
							node.addEventListener("keyup", function(event) {
								if (event.key === "Enter") {
									let name = node.value.replace(" ", "");
									window.location.href = "https://mysterious-hollows-01965.herokuapp.com/" + name.toLowerCase();
								}
							});
  					});
					</script>
			</div>
		</div>
		<div class="container">
			<div class="alert alert-info text-center" role="alert">
					We have done multiple statistical regression models on the accuracy of this web portal, and can vouch it is 100% accurate. This is the number 1# canidate portal picker.
			</div>
		</div>
	</body>
</html>
